.blure2{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    min-height: 100%;
    top: 100;
    left: 0;
    .modal{
        background-color: white;
        color: #303030;
        padding: 20px 30px;
        border-radius: 3px;
        text-align: center;
        animation-duration: 1s;
        animation-name: slidenModal;
        h2{
            margin-top: 10px;
            font-size: 1.5em;
        }
        .btnBlock{
            margin-top: 40px;
            margin-bottom: 20px;
          span{
            width: 40%;
            margin: 0 10px;
            display: inline-block;
            background-color: rgb(141, 198, 65);
            padding: 5px 40px;
            border-radius: 3px;
            cursor: pointer;
        }  
        }
        
    }
}

@keyframes slidenModal{
    from{
        margin-top: 1000px;
    }
    to{
        margin-top: 0;
    }
}

.dark{
    .blure2{
        background-color: #0f0f0f;
        .modal{
            background-color: #303030;
            color: #fff;
            span{
                color: #0f0f0f;
            }
        }
    }
}

.light{
    .blure2{
        background-color: #F5F5F5;
        .modal{
            box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
            background-color: rgba(255, 255, 255, 1);
            color: #0f0f0f;
            span{
                color: #fff;
            }
        }
    }
}